<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="cus_Frame">

  <main class="page-cpf">


    <div style="text-align: center;">
      <h1>Custom Pictures Frame Online </h1>
      <p>Standard and Custom sized picture frames, designed by you.</p>
      <hr>
    </div>


    <div class="row">
      <div class="col-sm-6">

        <div class="sec-frame" style="text-align: center;">
          <div>
            <canvas id="canvasFrGr" width="600px" height="600px" style="max-width: 100%;max-height: 600px;"></canvas>
            <canvas id="canvasBkGr" width="600px" height="600px" style="max-width: 100%;max-height: 600px;"></canvas>
          </div>
        </div>

      </div>

      <div class="col-sm-6" style="padding-left: 2%;padding-right: 2%;">
        <div style="background: whitesmoke; padding: 2%;">
          <div id="side-tab-1">
            <button type="button" class="btn btn-dark" style="background : black">
              <input id="fileUpload" type='file' onchange="readURL(this)" /></button>
            <!-- <div class="sec-frames">
              <h3>Select frame</h3>
              <ul class="frame-list">
                
                <li class="pic1">
                  <img id="uploadedimage" data-src="#" alt="" />
                </li>
              </ul>
            </div> -->
            <div class="select is-fullwidth" style="padding-top: 1%;">

              <p>
                SELECT SIZE : <br>
                <span>WIDTH : </span>
                <input type="number" id="width" min="15" max="30" aria-label="image width" step="0.1">
                &nbsp;
                <span>HEIGHT : </span>
                <input type="number" id="height" min="10" max="30" aria-label="image height" step="0.1">
              </p>
              <br>
              <p>
                SELECT FROM STANDARD SIZE : </p>
              <select id="sizes">
                <option value="">Standard Sizes</option>
                <option value='{"width": "40", "height": "40"}'>4" x 6" (10.2 x 15.2 cm)</option>
                <option value='{"width": "37", "height": "35"}'>5" x 7" (12.7 x 17.8 cm)</option>
                <option value='{"width": "35", "height": "33"}'>6" x 8" (15.2 x 20.3 cm)</option>
                <option value='{"width": "33", "height": "31"}'>8" x 10" (20.3 x 25.4 cm)</option>
                <option value='{"width": "31", "height": "29"}'>8" x 12" (20.3 x 30.5 cm)</option>
                <option value='{"width": "29", "height": "27"}'>11" x 14" (27.9 x 35.6 cm)</option>
                <option value='{"width": "27", "height": "25"}'>12" x 16" (30.5 x 40.6 cm)</option>
                <option value='{"width": "25", "height": "23"}'>16" x 20" (40.6 x 50.8 cm)</option>
                <option value='{"width": "23", "height": "21"}'>16" x 24" (40.6 x 61.0 cm)</option>
                <option value='{"width": "21", "height": "19"}'>18" x 24" (45.6 x 61.0 cm)</option>
                <optgroup label="B">
                  <option value='{"width": "18", "height": "18"}'>B1 (70.7 x 100.0 cm)</option>
                  <option value='{"width": "24", "height": "22"}'>B2 (50.0 x 70.7 cm)</option>
                </optgroup>
                <optgroup label="A">
                  <option value='{"width": "34", "height": "32"}'>A5 (14.8 x 21.0 cm)</option>
                  <option value='{"width": "32", "height": "30"}'>A4 (21.0 x 29.7 cm)</option>
                  <option value='{"width": "30", "height": "28"}'>A3 (29.7 x 42.0 cm)</option>
                  <option value='{"width": "28", "height": "26"}'>A2 (42.0 x 59.4 cm)</option>
                  <option value='{"width": "26", "height": "24"}'>A1 (59.4 x 84.1 cm)</option>
                  <option value='{"width": "24", "height": "22"}'>A0 (84.1 x 118.9 cm)</option>
                </optgroup>
              </select>
            </div>
          </div>
          <br>
          <div id="side-tab-2">
            <div class="tab">
              <button class="tablinks" onclick="openTab(event, 'frames')">Frames</button>
              <button class="tablinks" onclick="openTab(event, 'mats')">Mats</button>
              <button class="tablinks" onclick="openTab(event, 'glass')">Glass & Backing</button>
              <button class="tablinks" onclick="openTab(event, 'print')">Printing</button>

            </div>

            <div id="frames" class="tabcontent">

              <p>Select frames as per your choice!</p>
              <div id="scrollable">

                <div id="frame_items">
                  <%
                if(userData.length!=0){
                var i=1;
                userData.forEach(function(data){
                %>
                  <div class="item" style="padding:10px;">

                    <div class="card" style="width: 18rem; background:#f1f0f0; padding: 5%; text-align: center;"
                      id="cardi">

                      <img class="card-img-top" src="http://localhost:3000/<%=data.FRTHIMG %>" alt="Card image cap"
                        data-src="<%=data.FRIMG %>" style="width: 30px;" id="<%=data.FRID %>">
                      <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">CODE :<%=data.FRCODE %></h5>
                        <p class="card-text">

                        <ul style="text-align: start;">
                          <li>
                            Width : <%=data.FRWIDTH %> cm
                          </li>
                          <li>
                            Depth : <%=data.FRDEPTH %> cm
                          </li>
                          <li>
                            Rebate : <%=data.FRREBATE %> cm
                          </li>
                          <li>
                            Material : <%=data.FRMATERIAL %>
                          </li>
                          <li>
                            Color :<%=data.FRCOLOR %>
                          </li>
                          <li>
                            Price Rate : <%=data.FRPRICE %>
                          </li>

                        </ul>
                        </p>


                      </div>
                    </div>
                  </div>
                  <%  i++; }) %>
                  <% } else{ %>
                  <tr>
                    <td colspan="7">No Data Found</td>
                  </tr>
                  <% } %>



                </div>
              </div>
            </div>

            <div id="mats" class="tabcontent">


              <button class="tablinks" onclick="openTab(event, 'white')">Select Mat</button>

            </div>
            <div id="white" class="tabcontent">
              <fieldset>
                <legend>Choose core color</legend>
                <div>
                  <input type="checkbox" id="whitecore" name="corecolor" value="white">
                  <label for="coding">White Core</label>
                </div>
                <div>
                  <input type="checkbox" id="blackcore" name="corecolor" value="black">
                  <label for="music">Black Core</label>
                </div>
              </fieldset>
              <br>
              <br>
              <%
              if(row.length!=0){
              var i=1;
              row.forEach(function(data){
              %>
              <p> <%=data.MTCOLOR %> : <%=data.MTCODE %></p>
              <button id="buble" style="background: white;
           border: azure;" value='{"color": " <%=data.MTCODE %>"}'>
                <span class="dot" style="background: #<%=data.MTCODE %>;"></span>
              </button>
              <%  i++; }) %>
              <% } else{ %>
              <tr>
                <td colspan="7">No Data Found</td>
              </tr>
              <% } %>
            </div>
            <!-- <div id="black" class="tabcontent">
            <button class="tablinks" onclick="openTab(event, 'white')">WHITE CORE</button>
            <button class="tablinks" onclick="openTab(event, 'black')">BLACK CORE</button>
            <button class="tablinks" onclick="openTab(event, 'museum')">MUSEUM</button>
            <h3>black</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div>
          <div id="museum" class="tabcontent">
            <button class="tablinks" onclick="openTab(event, 'white')">WHITE CORE</button>
            <button class="tablinks" onclick="openTab(event, 'black')">BLACK CORE</button>
            <button class="tablinks" onclick="openTab(event, 'museum')">MUSEUM</button>
            <h3>museum</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div> -->



            <div id="glass" class="tabcontent">
              <p>Glass options...</p>
            </div>
            <div id="print" class="tabcontent">
              <p>Printing options...</p>
            </div>


          </div>
          <br>
        </div>


      </div>
      <br>
    </div>
    <br>
    <hr style="width: 1px solid black;">
    <div>

    </div>

    <script src="/javascripts/main.js"></script>

    <script>
      // function readURL(input) {
      //   if (input.files && input.files[0]) {
      //     var reader = new FileReader();

      //     reader.onload = function (e) {


      //       photoImage = e.target.result;
      //       imageDraw();

      //     };

      //     reader.readAsDataURL(input.files[0]);
      //   }
      // }

      //function to set the height//
      $("#height").on('change', function () {

        var height = document.getElementById('height').value;

        var borderProperty = height + 'px';

        $("#uploaded-image").css("margin-top", borderProperty);
        $("#uploaded-image").css("margin-bottom", borderProperty);
      })

      //function to set the width//

      $("#width").on('change', function () {

        var width = document.getElementById('width').value;

        var borderProperty = width + "%";

        $("#borderimg").css("border-image-slice", borderProperty);
      })


      //function to display tabs//
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
  </main>
</body>

</html>